body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(44, 44, 44);
  /* overflow: hidden; */
}

body::-webkit-scrollbar{
  display: none;
}

ul::-webkit-scrollbar{
  display: none;
}

a{
  margin: 2%;
}


.header {
  padding-left: 15px;
  padding-right: 15px;
}
.money{
  width:5%;
  margin-right: 1.5%;
  min-width: 100px;
}

.heading{
  padding: 0%;
  color:whitesmoke;
  font-family: cursive;
  margin: 0% !important;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .message{
    font-family: Arial, Helvetica, sans-serif;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.marketing{
  margin: 10% auto;
}

/* Main marketing message and sign up button */
.main{
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  color:#f1f1f1;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: rgb(32, 32, 32);
  padding: 1%;
  margin-bottom: 0em !important;
}
.sign-out{
  /* float: right; */
  /* margin-left: 90%; */
  margin-right: auto;
}
/* .jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
} */

.description{
  font-family: cursive;
  color: #c0c0c0;
  margin: 1%;
}
.timer{
  font-family: cursive;
  color: #ffee59;
  margin: 1%;
  font-weight: 100;
}

.username{
  background-color: #7a717150;
  padding: 3px 9px;
  padding-bottom: 9px;
  /* border: 1px groo lightblue; */
  border-radius: 10px;
  font-weight: 200;
  font-family: cursive;
  color: lightblue;
  /* font-size: large; */
}

.userlabel{
  padding: 5%;
  font-size: small;
  margin: 5% auto;
  font-weight: 100;
}

.marker{
  /* background-color: #337ab7; */
  color: aqua;
  text-align: center;
  padding: 1%;
}

.usersList{
  background-color: rgb(236, 236, 236);
  height: 48vh;
  overflow-y: scroll;
  border: 1px solid rgb(47, 47, 255);
  border-radius: 20px;
  padding: 1%;
}

.user{
  background-color: #cacaca20;
  font-size: large;
  padding: 2%;  
  border-bottom: 1px solid grey;
  margin: 2%;
}

.usersLikeList{
  background-color: rgb(214, 214, 214);
  height: 48vh;
  overflow-y: scroll;
  border: 1px solid blue;
  border-radius: 20px;
}

.chat-window{
  background-color: #20202050;
}

.chatbox{
  background-color: #2C2C2C;
}
.message{
  /* background-color: #35434e50; */
  /* border-color: rgba(165, 165, 167, 0.192); */
  font-family: cursive;
  color:lightblue;
  padding: 2px;
  font-size: large;
  font-weight: 200;
  /* border-radius: 10px; */
  /* padding-left: 10px; */
}

.message-box{
  /* background-color: #07070700; */
}

.from-container{
  /* background-color: #ff1d1d; */
  margin-right:5px;
  margin-left:1px;
  padding: 2px 0px;
}
.from-box{
  padding: 3px 10px;
  border-radius: 15px;
  border-bottom: 1px solid rgb(216, 216, 216);
  background-color: #00289690;
}
.message-container{
  background-color: #0d488b90;
  margin-right:1px;
  border-radius: 15px;
  padding: 2px;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-left: 10px;
}



.mymessage{
  color:#f1f1f1;
  background-color: #2090ff;
  border-bottom: 1px solid rgb(216, 216, 216);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.spinner{
  animation: rotate 2s infinite;
  transition: all 1s linear ease-in;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
    color: #ff1d1d;
  }

  50%{
    transform: rotate(180deg);
    color: #ffee59;
  }
  to{
    transform: rotate(360deg);
    color: red;
  }
}